{% extends 'base.html' %}
{% block body %}
<br/><br/>
<center>
    <form action="#" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td><b>Student Name:</b></td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td><b>Student course:</b></td>
                <td><input type="text" name="course"/></td>
            </tr>
             <tr>
                <td><b>Course Fees:</b></td>
                <td><input type="text" name="fees"/></td>
            </tr>
             <tr>
                <td colspan="2" align="center">
                <td><input type="submit" value="Save"/></td>
            </tr>
            {% if flag %}
               <tr>
                   <td colspan="2" align="center">
                    <h4>Student inserted</h4>
                   </td>
            </tr>
            {% endif %}
        </table>
    </form>
</center>
{% endblock  %}

